.view_more {
  text-align: center;
}

.notifcation {
        float: left !important;
    /* margin-right: 5px; */
    margin-left: 5px;
}
.notifcation_room{
        float: left !important;
    /* margin-right: 5px; */
    margin-left: 5px;
}

.noti {
  display: inline-block;
}

.username {
      margin: 15px 0 0 0;
}

.btn-cross {
      background-color: #25414d;
    border-color: #25414d;
}

.my-modal {
  background: #343a40!important;
  color: white;
}

.modal-body {
  background: #25414d !important;
}

div:after{content: '';clear:both;display:table;}
.room:hover{
  background: #122d39;
}
.active_room{
  background: #122d39;
}

.chat_list:hover{
  background: #3d5660;
}

.room {
  padding: 10px 10px 10px 20px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  border-bottom: solid 1px #444c55;
}
.members > div{background: #4c6772;}
.room_name {
  float: left;
  font-size: 16px;
  color: #fff;
}
.room p{margin-bottom: 0}

.room_options {
  float: right;
}


.recent_heading1 {
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.recent_heading1 h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
#reciver_info {
  font-size: 20px;
  font-weight: 500;
  color: #44748f;
  margin-top: 15px;

  padding-bottom: 15px !important;
  margin-bottom: 0;
  border-bottom: solid 1px #eee;
}

.msg_history{padding-top: 13px !important}

.container{
  max-width: 1400px !important;
}

img{ max-width:100%;}
.users_list {
  background:#25414d;
  height: calc(100% -  66px);
  overflow: auto;
  float: left;
  width: 25%; border-right:1px solid #c4c4c4;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 22%; border-right:1px solid #c4c4c4;
}
.mesgs {
    float: left;
    width: 75%;
  }
hr{margin-top: 0;}

.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}

.headind_srch{     padding:10px 10px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;
background: #3d494d;
}
.headind_srch1{         text-align: center;
  padding: 10px 0px 10px 0px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

  .recent_heading h4 {
    color: #fff;
    font-size: 21px;
    margin: auto;
  }
  .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

  .chat_ib h5{ font-size:15px; color:#fff; margin:0 0 8px 0;}
  .chat_ib h5 span{ font-size:13px; float:right;}
  .chat_ib p{ font-size:14px; color:#989898; margin:auto}
  .chat_img {
    float: left;
    width: 11%;
  }
  .chat_ib {
    float: left;
    padding: 0 0 0 5px;
    width: 75%;
  }
  .chat-container{padding: 0;max-width: 100% !important;}

  /*.chat_people{ overflow:hidden; clear:both;}*/
  .room + div{width: 100%;}
  .chat_list {
    border-bottom: 1px solid #444c55;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
  }

  .active_chat{ background:#ebebeb;}

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
  }
  .received_withd_msg p {
    display: inline-block;
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 5px 10px 5px 12px;
  }
  .time_date {
    color: #747474;
    /*display: block;*/
    font-size: 12px;
    margin: 5px 5px 0 5px;
  }

  .time_date_sent {
    float:right;
  }

  .time_date_recv {
    /*float: left;*/
  }

  
  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 15px 0 0 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
  .outgoing_msg{ overflow:hidden; }
  .sent_msg {
    float: right;
    min-width: 10%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 70px;
    width: 100%;
  }

  .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 17px;
    width: 33px;
  }

  .msg_history {
    height: calc(100vh - 200px);
    overflow-y: auto
  }
  .input_msg_write{position: relative;}
  #reciver_info,.msg_history,.type_msg{;
    padding: 0 10px;}




  .c-header{}